* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at center, #222222, #121212, #000000);
    color: #e5e5e5;
    line-height: 1.6;
    background-attachment: fixed;
}



/* Gradient variable */
:root {
    --grad: linear-gradient(135deg, #FFD000, #00C851);
}

/* ------------------ Navbar ------------------ */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(18, 18, 18, 0.9);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1000;
    
}

nav h1 {
    font-size: 30px;
    background: var(--grad);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: var(--grad);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* ------------------ Hero Section ------------------ */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
}

.hero-img {
    width: 250px;
    height: 250px;
    border-radius:40%;
    border: 5px solid transparent;
    background-image: var(--grad);
    padding: 5px;
    animation: glow 3s infinite alternate;
}

@keyframes glow {
    0% { box-shadow: 0 0 10px #FFD000; }
    100% { box-shadow: 0 0 18px #00C851; }
}

#home h2 {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#home p {
    font-size: 28px;
    opacity: 1;
    font-family: poppins;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.btn {
    padding: 12px 28px;
    border-radius: 20px;
    background: var(--grad);
    border: none;
    color: black;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    font-family: poppins;
    font-size: 25px;;

}

.btn:hover {
    transform: scale(1.1);
}

/* ------------------ Section Heading ------------------ */
section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 100px;
    background: var(--grad);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* ------------------ About Section ------------------ */
#about {
    padding: 90px 15%;
    text-align: center;
}

#about img {
    width: 200px;
    border-radius: 25px;
    border: 4px solid transparent;
    background-image: var(--grad);
    padding: 3px;
}

#about p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.attributes {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
}

.attributes span {
    background: #1e1e1e;
    padding: 10px 18px;
    border-radius: 6px;
    border-left: 4px solid #FFD000;
}

/* ------------------ Education ------------------ */
#education {
    padding: 90px 10%;
}

.timeline {
    border-left: 4px solid #FFD000;
    border-right: 4px solid #00C851;
    padding-left: 20px;
    text-align: center;
}

.timeline div {
    margin-bottom: 25px;
}

.timeline h3 {
    font-size: 30px;
    color: #FFD000;
}

.timeline p {
    opacity: 1;
}

/* ------------------ Skills ------------------ */
.skills {
    margin-top: 40px;
    display: grid;
    gap: 20px;
}

.skill {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
}

.skill-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}

.progress {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 50px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: var(--grad);
}

/* ------------------ Projects ------------------ */
#projects {
    padding: 90px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background: #1e1e1e;
    padding: 18px;
    border-radius: 10px;
    transition: 0.7s;
    border: 2px solid transparent;
}

.card:hover {
    transform: translateY(-5px);
    border: 2px solid #00C851;
    box-shadow: 0 0 15px rgba(0, 200, 81, 0.4);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 12px 0;
    font-size: 40px;
}

.card p {
    font-size: 20px;
    margin-bottom: 25px;
}

.card-buttons {
    display: flex;
    gap: 12px;
}

.card-buttons a {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    text-decoration: none;
    background: var(--grad);
    color: black;
    font-weight: 600;
}

/* ------------------ Contact ------------------ */
#contact {
    padding: 90px 10%;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #1e1e1e;
    color: white;
}

.social-links {
    margin-top: 20px;
    text-align: center;
    ;
}

.social-links a {
    margin: 0 10px;
    font-size: 40px;
    color: #FFD000;
    transition: 0.3s;
    
}

.social-links a:hover {
    color: #00C851;
}

/* ------------------ Footer ------------------ */
footer {
    text-align: center;
    padding: 20px;
    background: #0d0d0d;
    margin-top: 40px;
}
